*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    width: 100%;
    height: 40px;
    display: block;
    background-color: white;
}

.bar ul
{
    float: right;
    list-style-type: none;
    margin-top: 10px;
    margin-right: 10px;

}

.bar ul li input
{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
}

.bar ul li input:hover
{
    background-color: black;
    color: white;
}

.name
{
    float: left;
    margin-left: 10px;
}

body
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(wardrobe.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.buttons
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons ul
{
    list-style-type: none;
}

.buttons ul li
{
    text-align: center;
    margin-block-end: 30px;
}

.buttons ul li a
{
    font-size: x-large;
    border: 1px solid white;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 10px;
}

.buttons ul li a:hover
{
    border: black;
    background-color: black;
    color: white;
}

#footer{
    background-color: #3366FF;
    text-align: center;
  }
  
  .static-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  /* Media Compatible */
  @media(max-width: 1050px){
    #mid-section{
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: -100px;
      margin-right: -100px;
    }
    
    #footer{
      font-size: 15px;
    }
  
    .media-static-footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
}
